fastapi
uvicorn[standard]
h3
hdbscan
osmnx
networkx
ortools
xgboost
scipy
psycopg2-binary
sqlalchemy
geoalchemy2
alembic
python-jose[cryptography]
PyJWT[crypto]
passlib[bcrypt]
python-dotenv
pydantic[email]
scikit-learn
pandas
numpy
